@model Instapound.Web.Models.ProfileViewModel

@{
    ViewData["Title"] = Model.Info.Name + " | Instapound";
}

@await Html.PartialAsync("_ProfileHeader", Model.Info)

<h3 class="mb-6 font-semibold text-xl">
    @{
        var title = $"{Model.Info.Name}'s posts";
        <text>@title</text>
    }
</h3>

@if (Model.Posts.Count > 0)
{
    <ul class="flex flex-col gap-7">
        @foreach (var post in Model.Posts)
        {
            <li>
                @await Html.PartialAsync("_PostListItem", post)
            </li>
        }
    </ul>
}
else
{
    <div class="flex-1 grid place-content-center max-h-96">
        <span class="text-on-surface-muted">No posts</span>
    </div>
}