@model ErrorViewModel
@{
    ViewData["Title"] = "Error | Instapound";
}

<h2 class="text-3xl font-semibold mb-6">Error.</h2>
<p class="mb-4">An error occurred while processing your request.</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}